* {
    font-family: Verdana, sans-serif;
    color: #000000;
    margin: 0;
    padding: 0;
    text-align: center;
}

html, body {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
}

body {
    overflow: hidden;
}

div#card {
    position: absolute;
    z-index: 50;
    top: 5%;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    height: 95%;
}

div#card p {
    padding-top: 0.3em;
    font-size: 250%;
    text-align: center;
    opacity: 1.0;
    transition: opacity 0.3s;
}

div#card p#notes {
    font-size: 1.7em;
    color: #204050;
    background-color: #e0f0ff;
    margin: 0.2em;
    padding: 0;
}

div#card p.hidden {
    transition: opacity 0s;
    opacity: 0.0;
}

div#card p span#index {
    color: #707070;
    font-size: 0.75em;
}

ruby {
    border: solid 0.075em;
    border-radius: 0.2em;
    transition: background-color 0.3s, border-color 0.3s;
    background-color: transparent;
    border-color: transparent;
}

ruby.visible {
    transition: background-color 0.0s, border-color 0.0s;
    background-color: #e8f4ff;
    border-color: #80a0b0;
}

ruby rt {
    opacity: 0.0;
    transition: opacity 0.3s;
    color: #405070;
    font-size: 70%;
}

ruby.visible rt {
    opacity: 1.0;
    transition: opacity 0.0s;
}

div#stats {
    position: absolute;
    z-index: 1;
    top: 0.1em;
    right: 0.1em;
    font-size: 1.4em;
}

div#stats, div#stats span {
    color: #585858;
}

div#stats span#stats-good {
    color: #007020;
}

div#stats span#stats-bad {
    color: #702030;
}

form#rate {
    display: block;
    position: absolute;
    z-index: 100;
    bottom: 7%;
    left: 25%;
    width: 55%;
    text-align: center;
    background-color: #fff8d0;
    border: solid 0.3em #f0e8b0;
    padding: 0.7em;
    border-radius: 1em;
    opacity: 1.0;
    transition: opacity 0.15s;
}

form#rate.hidden {
    opacity: 0.0;
    transition: opacity 0.0s;
    height: 0;
    padding: 0;
    border-style: none;
    overflow: hidden;
}

form#rate a {
    font-size: 1.4em;
    font-weight: bold;
}

form#rate input#cont-input {
    font-size: 1.4em;
    line-height: 1.4em;
    height: 1.7em;
    width: 50%;
    border: inset 0.07em #808080;
    border-radius: 0.3em;
}

form#rate button.hidden {
    visibility: hidden;
}

form#rate button {
    font-size: 1.8em;
    font-weight: bold;
    padding: 0.2em 0.5em;
    border-style: outset;
    border-width: 0.10em;
    border-radius: 0.3em;
    margin: 0.2em;
}

button#rate-add-to-focus,
button#rate-skip,
button#rate-remove-from-focus {
    width: 28%;
}


button#rate-add-to-focus {
    background-color: #b00000;
    color: #ffffff;
    border-color: #a00000;
}

button#rate-skip {
    background-color: #207870;
    color: #ffffff;
    border-color: #207070;
}

button#rate-remove-from-focus {
    background-color: #007800;
    color: #ffffff;
    border-color: #007000;
}

form#rate label {
    font-size: 1.4em;
}

input#extend-focus-amount {
    width: 12%;
    font-size: 1.4em;
    line-height: 1.4em;
    height: 1.7em;
    border: inset 0.07em #808080;
    border-radius: 0.3em;
}

form#rate button#extend-focus {
    font-size: 1.4em;
    font-weight: bold;
    padding: 0.3em 0.5em;
    border-style: outset;
    border-width: 0.1em;
    border-radius: 0.3em;
    margin: 0.2em;
}
